node_modules/
cartridges/int_custompayment_sfra/cartridge/static/default/css/
cartridges/int_custompayment_sfra/cartridge/static/default/js/
cartridges/int_custompayment_sfra/cartridge/static/default/fonts/

coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
sitegenesisdata/
mobilefirstdata/
storefrontdata/
demo_data_sfra/
demo_data_sfra.zip
.DS_Store
.vscode
.history
*.iml
.idea
cartridges/app_storefront_base
cartridges/bm_app_storefront_base
cartridges/modules
.istanbul.yml
bitbucket-pipelines.yml
codecept.conf.js
CONTRIBUTING.md
ismllinter.config.js
license.txt
package-lock.json
page-designer-components.md
PULL_REQUEST_TEMPLATE.md
README.md
.circleci/config.yml
bin/Makefile.js
bin/test-functional-docker.sh
sfra