.payment-error {
    .modal-dialog {
        max-width: 350px;

        .modal-body {
            button {
                background-color: black;
            }
        }
    }
}

.payment-modal {
    .modal-content {
        background-color: transparent;

        .modal-header {
            padding-right: 12px;
            padding-bottom: 12px;

            .close {
                opacity: 1;
                padding: 0;

                .icon-close {
                    width: 24px;
                    height: 24px;
                    background-image: url("../images/icon-close.svg");
                    background-repeat: no-repeat;
                }
            }
        }

        iframe {
            background-color: white;
            height: 80vh;
            @media screen and (max-width: 768px) { // stylelint-disable-line
                height: 93vh;
            }
        }
    }
}
